/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  FORMULAIRE
*/

/*pour mes petits yeux*/
html{
	background-color: darkslateblue;
}


nav#unroll{
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	position: relative;
	align-items: center;
}

video#autoplay{
    border-radius: 50%; 
	overflow: hidden;
	position: relative; 	
    width: 200px;
	height: 200px;
	top: -100px;
    transition: top ease-out .5s;
}
video#autoplay:hover{
    top: 0px;
}


ul.premier{
	visibility: hidden;
}
ul.premier.enBas{
    visibility: visible;
}

ul.premier{
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.premier > li{
    position: relative;
    float: left;
    height: 30px;
    width: 150px;
    background: #999999;
}
ul.premier > li:hover{
	background: #CCCCCC;
}
ul.premier li:hover > ul{
    display: inline;
}
ul.premier a{
	color: black;
	text-decoration: none;
	padding: 0 0 0 10px;
	display: block;
	line-height: 30px;;
}

.second{
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}
.second > li{
    position: relative;
    height: 30px;
    background: #999999;
}
.second > li:hover{
	background: #CCCCCC;
}

#formulaire {
  position: absolute;
  right: 0; top: 30vh;
  display: block;
  background-color: black;
  width: 300px;
}

#formulaire > h2 {
  color: white;
  text-align: center;
  margin-top: 20px;
}